.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    background-color:darkcyan;
    z-index: 200;
    width:100%;
    /*margin-bottom: 10px;  */
}
.header__container{
    display: none !important;
    flex:0% !important;
}
.header__left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex:33%;
}
.header__left > a> p{
    color:white
}
.header__icon{

    height: 50px;
    margin-left:20px;
    padding: 10px;
    border-radius: 50%;
}
.header__center {
    display:flex;
    align-items: center;
    padding: 12px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 900px;

}
.header__center > input{
    border:none;
    padding:10px;
    outline-width: 0;

}
.header__right{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:30vw;
    /*margin-right: 60px;*/
    flex:20%;
}
.header__right{
    color:white
}
.header__right__LanguageIcon{
    color:white
}

@media (max-width: 800px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }
    .header__container{
        display:block !important;
    }
    .header__left{
        display:none;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
    }
    .header__left > img{
        margin-left: 0;
    }
    .header__right{
        display:none;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10px;

    }
    .Avatar{
        margin-left: 10px;
    }
}
